name: Docker Image CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Git Semantic Version
        uses: PaulHatch/semantic-version@v5.4.0
        id: version
        with:
          major_pattern: 'major:'
          minor_pattern: 'minor:'
          version_format: "${major}.${minor}.${patch}-prerelease${increment}"
        

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: diazdesandi/docker-graphql:latest, diazdesandi/docker-graphql:${{ steps.version.outputs.version }}
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
